
.BandGrid
    display: grid
    margin-left: 10%
    margin-right: 10%
    margin-top: 4%
    border-radius: 3px
    border: 1px solid rgb(22, 3, 3)

            /* Use  display property as grid*/
    gap: 5px
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))

.Band
    background-color: aqua
    border: 1px solid black
    border-radius: 3px
    max-width: 100%
    min-height: 200px
    height: auto

.letter
    margin-left: 10%
