@import 'styles/variables.sass'

.entirePage
    margin-top: 0rem
    padding-top: 0rem
    margin-bottom: 5%

.selectorBtn.active
    color: red
    text-decoration: underline

.big
    text-align: center
    font-size: $header

.selection

    padding-top: 0rem
    background-color: $background

    margin-left: 5%

.hr
    margin-left: 5%
    margin-right: 5%

/* .option option
 color: red */

.selection
    display: flex
    flex-direction: row

.selection span

    padding-right: 1rem
    a
        color: $color
        &:hover
            cursor: pointer
            color: $accent

.selectorBtn
    font-size: $mediumP

.select
    margin: 20px
    &:hover
        color: yellow

.select
    width: 100vw
    margin-left: 5%
    display: flex
    flex-wrap: wrap
    flex-direction: row
    a
        text-decoration: none
        span
            color: red
            font-size: $smallP
            padding-right: 1rem

@media (max-width: $mobile)
    .big
        display: none
