@import 'styles/variables.sass'

.festivalTitle

    font-size: $bigP
    display: flex
    justify-content: center

.hero
    display: flex
    justify-content: center
    align-items: center
    height: 40vh
    width: 100%
    background-color: grey
