
@import 'styles/variables.sass'
.actBox
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    transform: translateX(-5%)

.scenes

    margin: 0
    display: flex
    flex-direction: row

    section
        width: 33.3%

    ul
        margin-top: 0

        li

            display: flex
            justify-content: center
            align-items: center

            h2

                margin: 0

    li
        width: 15rem
        height: 10rem
        border: 1px solid $accent
        list-style: none
        padding: 1rem
        padding-right: 2rem
        padding-left: 2rem

        a
            text-decoration: none
            color: $white

.timeUl

    li

        height: 10rem
        border: 1px solid $accent
        list-style: none
        padding: 1rem

        .time
            width: 10%
            display: block
            width: 0rem
            border: 1px solid $black
            color: $accent

        p
            margin: 0
            padding: 0
            transform: translateY(-1.5rem)

/* ACTS */

.sceneName
    text-align: center
    padding-left: 2rem
    height: 5rem
    margin: 0

.timeHeader
    text-align: center
    padding-left: 2.5rem
    height: 4rem
.date
    padding-left: 2.5rem

@media screen and (max-width: 1250px)
    .scenes
        li
            width: 5rem
            height: 10rem

@media screen and (max-width: 1000px)
    .scenes
        li
            width: 10rem
            height: 10rem
    .timeUl

        position: sticky
