
@import 'styles/variables.sass'
.actBox

    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    transform: translateX(-5%)

/*     width: 100%
 display: grid
 grid-template-columns: 10rem 1fr
 */
.scenes

    margin: 0
    display: flex
    flex-direction: row

    section
        width: 33%

    ul
        a
            text-decoration: none
            color: $white

        li
            background: grey
            display: flex
            justify-content: center
            align-items: center
            &:hover
                background-color: $white
                color: $black
                cursor: pointer

            h2

                margin: 0

    li
        width: 15rem
        height: 10rem
        border: 1px solid $white
        list-style: none
        padding: 1rem
        padding-right: 2rem
        padding-left: 2rem

        a
            text-decoration: none
            color: $white

.timeUl

    li

        height: 10rem

        list-style: none
        padding: 1rem

        p
            margin: 0
            padding: 0
            transform: translateY(-1.5rem)

.timeDiv
    transform: translateY(-6.1rem)
    font-size: $smallP
    margin-top: 1rem
    position: sticky
    top: 0
    align-self: start
    left: 0
    background-color: $black
    .hr
        transform: translateY(3.3rem)

/* ACTS */

.sceneName
    font-size: $mediumP
    text-align: center
    padding-left: 2rem
    height: 5rem
    margin: 0

.timeHeader
    transform: translateY(3rem)
    font-size: $mediumP
    text-align: center

    padding-left: 3.5rem

.date
    font-size: $smallP
    padding-left: 3.8rem
    transform: translateY(0.5rem)

.days
    padding-bottom: 1rem
    height: 3rem
    display: flex
    justify-content: center
    span
        text-align: center
        color: $white
        font-size: $smallP
        padding-right: 1rem

@media screen and (max-width: 575px)
    .scenes
        padding-left: 13rem

@media screen and (max-width: 790px)
    .scenes
        margin-top: 2rem

    .days
        display: none

@media screen and (max-width: 1250px)
    .actBox

        transform: translateX(0%)

    .scenes

        li
            width: 7rem
            height: 7rem

    .timeUl

        li
            height: 7rem
